.footer-bg{
	background: #333947;
	padding-top: 43px;
	padding-bottom: 42px;
	.copyright{
		margin-top: 11px;
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 15px;
		line-height: 37px;
		color: #9298A6;
	}
	.footer-title{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 17px;
		line-height: 20px;
		color: #F0F0F0;
		margin-bottom: 20px;
	}
	.footer-list{
		list-style: none;
		padding-left: 0;
		font-family: $secondary-font;
		font-size: 16px;
		line-height: 24px;
		color: #9298A6;
		li{
			margin-bottom: 20px;
			a{
				color: #9298A6;
				text-decoration: none;

				&:hover{
					color: #F0F0F0;
				}
			}
			.underline{
				text-decoration: underline;
			}
			.av-icon{
				color: #7D9756;
				margin-right: 10px;
			}
		}
		.phone-number{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 19px;
			line-height: 35px;
			color: #F0F0F0;
			&:first-child{
				margin-bottom: 0;
			}
		}
		.circle-link{
			padding: 8px;
		    border-radius: 50%;
		    border: 1px solid #D0D0D0;
		    margin-right: 10px;
		    &:last-child{
		    	margin-right: 0;
		    }
		    img{
		    	vertical-align: sub;
		    }
		}
	}
	.text-right{
		text-align: right;
	}
}