.circle{
	cursor: pointer;
	position: relative;
	margin-right: 13px;
	border-radius: 50px;
	height: 52px;
	width: 52px;
	background: #F4F5FB;

	img{
		position: absolute;
		margin: auto;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}
}
.header-block{
	z-index: 5;
	padding-top: 11px;

	.user-item,
	.buy-item{
		display: flex;

		a{
			margin: auto;
		}
	}

	.burger-menu{
		display: none;
		height: 14px;
	    width: 20px;
	    position: relative;
	    vertical-align: middle;
	    margin-left: 10px;
	    cursor: pointer;
	    left: 0;

	    span{
	    	transition: .5s ease-in-out;
    	    cursor: pointer;
    	    left: 0;
    	    height: 2px;
    	    width: 100%;
    	    background: #555;
    	    position: absolute;
	    }
	    span:nth-child(1){ top: 0;}
	    span:nth-child(2){ top: 6px;}
	    span:nth-child(3){ top: 12px;}
	}

	.header-block__first{
	    padding-bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: $secondary-font;
		font-size: $primery-text;
	  	font-weight: bold;
	  	color: $primery-text-color;
		a{
			color: $primery-text-color;
		}
		.logo{
			max-width: 176px;
			img{
				width: 100%;
			}
		}
		.search-mobile{
			display: none;
			font-size: 21px;
		}
		.phone{
			text-align: right;
			a{
				margin-right: 13px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		.call-back{
			border: 1.8px solid #2D9E1A;
		    box-sizing: border-box;
		    border-radius: 92px;
		    padding: 12px 17px;
		    cursor: pointer;
		}
		.language{
			border: none;
		    outline: none;
		    font-weight: bold;
		    appearance: none; 
	      	background: no-repeat right url(../img/arrow.svg);
	      	padding-right: 15px;
	      	cursor: pointer;
		}
		.menu{
			list-style: none;
			font-size: 17px;
			font-weight: normal;
			margin: 0;
		    padding: 0;

			li{
				display: inline-block;
				padding-right: 25px;
			}
			li:last-child{
				padding-right: 0;
			}
		}
		.burger-menu{
			width: 28px;
			span:nth-child(2){ top: 10px;}
			span:nth-child(3){top: 20px;}
		}
	}
	.navigation{
	    border-bottom: 1px solid #B7B7B7;
		border-top: 1px solid #B7B7B7;
		overflow: hidden;


		.header-block__second{
			background: #FFFFFF;
			z-index: 3;
			display: flex;
			align-items: center;
			font-family: $secondary-font;
			font-size: 15px;
			font-weight: bold;
			color: $primery-text-color;

			&:before{
				background: #FFFFFF;
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 50vw;
				right: 100%;
				top: 0;
			}
			ul{
		  		list-style: none;
		  		text-align: center;
		  		margin-bottom: 0;


		  		li{
		  			display: table-cell;
		  			border-right: 1px solid #B7B7B7; 
		  			padding: 24px 25px;

		  			a{
		  				color: $primery-text-color;			
		  			}
		  			.burger-menu{
	  				    display: inline-block;
		  			}
		  		}
		  	}
		  	.search{
		  		background: #F4F5FB;
	  		    padding: 22px 32px;
	  		    position: relative;
			  	&:before{
			  		background: #F4F5FB;
			  		content: "";
		  		    display: block;
		  		    position: absolute;
		  		    height: 100%;
		  		    width: 50vw;
		  		    left: 100%;
		  		    top: 0;
			  	}
		  		.search__btn{
		  			background: none;
		  			border: none;
		  			margin-right: 20px;

		  			.search__img{
		  				font-size: 18px;
		  				line-height: 22px;
		  				cursor: pointer;
		  			}
		  		}
		  		.search__text{
		  			border: none;
	  			    background: none;
	  			    outline: none;
	  			    font-style: italic;
	  			    font-size: 18px;
		  		}
		  		.search__arrow{
		  			transform: rotate(180deg);
		  			cursor: pointer;
		  		}
		  		.active{
		  			transform: rotate(0deg);
		  		}
		  	}	
			
		}	
	}
	.navigation-mobile{
		display: none;
		border-bottom: none;
		.header-second-mobile{
			display: flex;
		    justify-content: center;
			.list-mobile{
				li:last-child{
					border-right: none;
				}
			}
		}
	}
    .navigation-fixed{
    	display: none;
    	border-bottom: 1px solid #B7B7B7;
    	border-top: 1px solid #B7B7B7;
    	overflow: hidden;
    	position: fixed;
    	z-index: 5;
    	background: #fff;
    	top: 0;
    	left: 0;
    	right: 0;
	    .header-block__fixed{
	    	display: flex;
		    align-items: center;
			height: 86px;
			.logo{
				border-right: 1px solid #B7B7B7;
			    padding:4px 50px 4px 0;
			}
			.search-mobile{
				display: none;
				font-size: 21px;
			}
			.buy-item{
				margin-left: 23px;
			}
			.header-block__second{
				display: flex;
				align-items: center;
				font-family: $secondary-font;
				font-size: 15px;
			  	font-weight: bold;
			  	color: $primery-text-color;

			  	ul{
			  		list-style: none;
			  		text-align: center;
			  		margin-bottom: 0;
			  		padding: 0;

			  		li{
			  			display: table-cell;
			  			border-right: 1px solid #B7B7B7; 
			  			padding: 25px 25px;

			  			a{
			  				color: $primery-text-color;			
			  			}
			  			.burger-menu{
			  				height: 14px;
		  				    width: 20px;
		  				    position: relative;
		  				    display: inline-block;
		  				    vertical-align: middle;
		  				    margin-left: 10px;
		  				    cursor: pointer;
		  				    left: 0;

		  				    span{
		  				    	transition: .5s ease-in-out;
	  				    	    cursor: pointer;
	  				    	    left: 0;
	  				    	    height: 2px;
	  				    	    width: 100%;
	  				    	    background: #555;
	  				    	    position: absolute;
		  				    }
		  				    span:nth-child(1){ top: 0;}
		  				    span:nth-child(2){ top: 6px;}
		  				    span:nth-child(3){ top: 12px;}
							span:nth-child(1){
								transform: translateY(280%);
							}
							span:nth-child(3){
								transform: translateY(-280%);
							}
			  			}
			  		}
			  	}
			  	.search{
			  		padding: 30px 32px;
			  		background: #F4F5FB;
			  		max-width: 300px;
			  		border-right: 1px solid #B7B7B7;
			  		&:before{
			  			display: none;
			  		}
			  		.search__btn{
			  			background: none;
			  			border: none;
			  			margin-right: 20px;

			  			.search__img{
			  				font-size: 18px;
			  				line-height: 22px;
			  				cursor: pointer;
			  			}
			  		}
			  		.search__text{
		  			    width: 70%;
			  			border: none;
		  			    background: none;
		  			    outline: none;
		  			    font-style: italic;
		  			    font-size: 18px;
			  		}
			  		.search__arrow{
			  			transform: rotate(180deg);
			  			cursor: pointer;
			  		}
			  		.active{
			  			transform: rotate(0deg);
			  		}
			  	}	
			}
			.burger-menu{
				width: 28px;
				span:nth-child(2){ top: 10px;}
				span:nth-child(3){top: 20px;}
			}
	    }
    }
	.advenced-block-bg{
		display: none;
		background: #F6F7FC;
		border: 0.5px solid #B7B7B7;
		padding-top: 73px;
		padding-bottom: 43px;

		.search-row-mobile{
			display: none;
			background: #F4F5FB;
			border: 0.5px solid #B7B7B7;
			padding: 15px 43px;
			margin-bottom: 20px;

			form{
				display: flex;
				justify-content: space-between;

				.search-row-mobile__text{
					border: none;
					background: none;
					outline: none;
					font-family: $secondary-font;
					font-style: italic;
					font-weight: normal;
					font-size: 17px;
					line-height: 20px;
					color: #90939A;
				}
				.search-row-mobile__btn{
					border: none;
					background: none;
					outline: none;
					color: #878080;
				}
			}
		}
		.advanced-search{
			display: flex;
			justify-content: flex-end;

			.search-title{
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 21px;
				line-height: 25px;

				.search-arrow-mobile{
					display: none;
					margin-left: 5px;
				}
			}
			.category-selection{
				margin-top: 25px;
				.selection-title{
					margin-bottom: 7px;
					font-family: $secondary-font;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
				}
				.selection-box{
					width: 240px;
				    height: 52px;
				    padding-left: 22px;
				    padding-right: 20px;
				    background: #FFFFFF;
				    border: 1px solid #E2E6EA;
				    border-radius: 5px;
				    font-family: $secondary-font;
				    font-size: 16px;
				    line-height: 19px;
				    color: #000000;
				    outline: none;
				}
				.example-input{
					font-family: $secondary-font;
					font-style: italic;
					font-size: 14px;
					line-height: 17px;
					color: #9B9B9B;
				}
				.search-btn-block{
					margin-top: 33px;
					.green-bg-btn{
						text-decoration: none;
						color: #fff;
					}
					.reset-btn{
						margin-left: 33px;
						font-family: $secondary-font;
						font-size: 16px;
						line-height: 19px;
						text-decoration-line: underline;
						color: #000000;
					}
					.reset-btn-img{
						margin-left: 12px;
						cursor: pointer;
					}
				}
			}
			.search-genre{
				margin-top: -25px;
				margin-left: 72px;
			}
			.search-popularity{
				margin-left: 62px;
				.check-block{
					.margin-label{
						margin-left: 31px;
					}
					label{
						font-family: $secondary-font;
						font-size: 16px;
						line-height: 19px;
						color: #000000;
						cursor: pointer;

						&:after{
							width: 31px;
							height: 23px;
							background: #FFFFFF;
							border: 1px solid #D6D6D6;
							box-sizing: border-box;
							content: "";
						    color: transparent;
						    display: inline-block;
						    font-size: 20px;
						    line-height: 22px;
						    text-align: center;
						    vertical-align: middle;
						    transition: color ease .3s;
						    margin-left: 7px;
						}
					}
					input{
						display: none;

						&:checked + label:after{
					    	background: url(../img/Check.svg) no-repeat center center;
					    	background-color: #ffffff;
						}
					}
				}
				.slide-price{
					margin-top: 24px;
					max-width: 240px;
					
					.price{
						text-align: center;
						margin-top: 12px;
						font-family: $secondary-font;
						font-size: 15px;
						line-height: 18px;
						color: #000000;
					}
					.ui-widget-header{
						background: #80899F;
					}
					.ui-slider-handle{
						background: rgb(105, 179, 93);
						border-radius: 50%;
						outline: none;
					    top: -.5em;
					    margin-left: -.6em;
					}
				}
				.ui-slider-horizontal {
				    height: 5px;
				}
				.ui-widget-content {
				    border: none;
				}
			}
			.search-author{
				margin-top: -25px;
				margin-left: 50px;
				
				.search-entry{
					position: relative;

					.serch-img-av{
						position: absolute;
						right: 22px;
						top: 18px;
						color: #ABA3A3;
						cursor: pointer;
					}
					.search{
						padding-left: 23px;
						width: 315px;
						height: 52px;
						background: #FFFFFF;
						border: 1px solid #E2E6EA;
						border-radius: 5px;
						outline: none;
						font-family: $secondary-font;
						font-style: italic;
						font-weight: 300;
						font-size: 16px;
						line-height: 19px;
						color: #000000;
					}
				}
			}
		}	
	}
	.advenced-block-fixed{
		width: 100%;
		position: fixed;
		z-index: 5;
		top: 99px;
	}
}