.overlay{
	display: none;
	top: 86px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 4;
	background: rgba(14, 1, 1, 0.28);
}
.overlay-second{
	display: none;
	top: 86px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(14, 1, 1, 0.28);
}
// 
.total-coust{
	display: flex;
	justify-content: space-between;
    align-items: baseline;
    padding: 22px 0;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 40px;
    margin-bottom: 30px;

    .total {
        font-weight: 700;
        font-family: $secondary-font;
        font-size: 16px;
        line-height: 19px;
        color: #242935;
    }
    .coust {
        font-family: $primery-font;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 19px;
    }
}
// 
.book-info{
		margin-top: 41px;

		.info-img{
			float: left;
			margin-right: 31px;
		}
		.title{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 17px;
			line-height: 20px;
			color: $primery-text-color;
		}
		.price-row{
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			input{
				border: none;
				outline: none;
			}
			.book-price{
				font-family: $primery-font;
				font-weight: bold;
				font-size: 25px;
				line-height: 33px;
				color: $primery-text-color;
			}
			.price-calc{
				background: #F4F5FB;
			    border: 0.5px solid #D4D4D4;
			    border-radius: 24px;
			    overflow: hidden;
				
				input{
				    width: 30px;
				    height: 26px;
				    cursor: pointer;
				    text-align: center;
				    font-size: 21px;
				    vertical-align: top;
				    background: #F4F5FB;
				    border-right: 0.5px solid #D4D4D4;
				}
				// .minus{}
				// .value{}
				// .plus{}
			}
			.delet-btn{
				cursor: pointer;
			}
		}
	}
.buy-block{
	display: none;
	position: fixed!important;
	right: 0;
	top: 86px;
	width: 550px;
	z-index: 5;
	.popup-wind__close{
		display: none;
	}
	.close-btn{
		a{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 15px;
			line-height: 18px;
			color: #242935;
		}
		img{
			margin-left: 10px;
			cursor: pointer;
		}
	}
	.buy-btn-block{
		margin-top: 29px;
		display: flex;
		justify-content: space-between;
	    align-items: center;
		.green-bg-btn{
			padding: 14px 50px;
			text-decoration: none;
			color: #fff;
		}
		.green-border-btn{
			color: $primery-text-color;
		}
	}
}
// 
.popup-wind{
	position: relative;
	border: 0.5px solid #B7B7B7;
	background: #fff;
	padding: 25px 60px 50px 60px;
	.popup-wind__close{
		position: absolute;
		top: 19px;
		right: 21px;
		cursor: pointer;
	}
}
.popup-df{
	display: flex;
	justify-content: space-between;
}
.popup-title{
	font-family: $secondary-font;
	font-size: 20px;
	line-height: 44px;
	font-weight: bold;
	color: $primery-text-color;
}
.popup-form{
	.personal-data{
		font-family: $secondary-font;
		font-size: 17px;
		line-height: 20px;
		label{
			font-weight: bold;
			display: block;
			color: #000000;
			margin-top: 16px;
		}
		input{
			display: block;
			width: 100%;
			outline: none;
			background: #FFFFFF;
			border: 1px solid #CACACA;
			padding: 11px 20px;
			color: #252A2F;
			margin-bottom: 11px;
		}
		textarea{
			background: #FFFFFF;
			border: 1px solid #CACACA;
			width: 100%;
			height: 133px;
			resize: none;
			outline: none;
			padding: 5px;
		}
	}
}
.social-form{
	.social-form__title{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 17px;
		line-height: 20px;
		color: $primery-text-color;
		margin-bottom: 12px;
	}
	.social-form__text{
		font-family: $secondary-font;
		font-size: 16px;
		line-height: 131.3%;
		color: #FAFAFA;
		padding: 11px 30px 11px 15px;
		margin-bottom: 10px;
		cursor: pointer;
		img{
			margin-right: 15px;
		}
	}
	.facebook-bg{
		background: #45629B;
		border-radius: 4px;
	}
	.google-bg{
		background: #4688F1;
		border-radius: 4px;
	}
}
.login{
	display: none;
	z-index: 5;
	position: absolute;
	top: 86px;
	right: 0;
	min-width: 580px;
	.popup-form{
		border-right: 1px solid #EAE9E9;
		padding-right: 50px;
	}
	.forget-pass{
		font-family: $secondary-font;
		font-size: 15px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #858A95;
	}
	.remember-user{
		margin-top: 20px;
		input{
			display: none;
			&:checked + label:before{
				background-color: #7D9756;
				background-image: url(../img/check-white.svg);
				background-position: center;
				background-repeat: no-repeat;
				border-top: none;
			}
		}
		label{
			font-family: $secondary-font;
			font-size: 15px;
			line-height: 18px;
			color: $primery-text-color;
			cursor: pointer;
			&:before{
				//margin-right: 10px;
				content: "";
				color: transparent;
				display: inline-block;
				border: 1px solid #CACACA;
				font-size: 20px;
				line-height: 22px;
				margin: -5px 10px 0 0;
				height: 20px;
				width: 20px;
				text-align: center;
				vertical-align: middle;
				transition: color ease .3s;
			}
		}
	}
	.login-enter{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.green-bg-btn{
			padding: 12px 50px;
			color: #fff;
			text-decoration: none;
		}
		span{
			cursor: pointer;
		}
	}
	.social-form{
		margin-left: 50px;
	}
	.registration-row{
		margin-top: 77px;
		font-family: $secondary-font;
		.reg-subtitle{
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #858A95;
		}
		.reg-btn{
			margin-top: 5px;
			cursor: pointer;
			font-weight: bold;
			font-size: 17px;
			line-height: 20px;
			text-decoration-line: underline;
			color: #242935;
		}
	}
}
.registration{
	display: none;
	z-index: 5;
	position: absolute;
	top: 86px;
	right: 0;
	max-width: 800px;
	.popup-form{
		border-right: 1px solid #EAE9E9;
		padding-right: 50px;
	}
	.agreement-block{
		margin-top: 24px;
		font-family: $secondary-font;
		input[type="text"]{
			outline: none;
			background: #FFFFFF;
			border: 1px solid #CACACA;
			padding: 11px 20px;
			color: #252A2F;
			font-size: 16px;
			line-height: 20px;
		}
		input[type="checkbox"]{
			display: none;
			&:checked + label:before{
				background-color: #7D9756;
				background-image: url(../img/check-white.svg);
				background-position: center;
				background-repeat: no-repeat;
				border-top: none;
			}
		}
		label{
			margin-top: 21px;
			font-size: 14px;
			line-height: 131.3%;
			color: #242935;
			cursor: pointer;
			&:before{
				//margin-right: 10px;
				content: "";
				color: transparent;
				display: inline-block;
				border: 1px solid #CACACA;
				font-size: 20px;
				line-height: 22px;
				margin: -5px 10px 0 0;
				height: 20px;
				width: 20px;
				text-align: center;
				vertical-align: middle;
				transition: color ease .3s;
			}
			a{
				color: #242935;
				text-decoration-line: underline
			}
		}
	}
	.social-form {
		margin-left: 50px;
	}
	.login-enter {
		margin-top: 30px;
		display: flex;
		align-items: center;
		.green-bg-btn{
			padding: 12px 25px;
			color: #fff;
			text-decoration: none;
		}
		span{
			margin-left: 35px;
			cursor: pointer;
		}
	}
}
.call-back-popup{
	z-index: 5;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 577px;
	max-height: 412px;
	.popup-title{
		text-align: center;
		margin-top: 25px;
	}
	.popup-df{
		justify-content: space-around;
		margin-top: 4px;
		.popup-form{
			width: 67%;
		}
	}
	.call-back-popup__btn{
		display: flex;
		justify-content: space-around;
		margin-top: 28px;
		.green-bg-btn{
			width: 67%;
			color: #fff;
			text-decoration: none;
		}
	}
}
.elite-book{
	display: none;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 922px;
	max-height: 450px;
	.popup-title{
		margin-top: 18px;
	}
	.popup-df{
		.data-block{
			width: 40%;
		}
		.comment-block{
			width: 60%;
			margin-left: 25px;
		}
	}
	.elite-book__btn{
		margin-top: 28px;
		.green-bg-btn{
			padding: 12px 30px;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
		}
	}
}
.pre-order{
	display: none;
	z-index: 5;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 966px;
	max-height: 412px;
	.pre-order__item-block{
		width: 50%;
		.book-info{
			margin-top: 26px;
		}
	}
	.pre-order__data-block{
		width: 43%;
		border-left: 1px solid #EAE9E9;
		padding-left: 50px;
		.pre-order-popup__btn{
			margin-top: 38px;
			.green-bg-btn{
				color: #fff;
				text-decoration: none;
				padding: 12px 35px;
			}
		}
	}
}
.successfully-accepted{
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 524px;
	max-height: 239px;
	text-align: center;
	.popup-title{
		margin-top: 25px;
	}
	.checked{
		margin-top: 28px;
	}
}
.all-books{
	display: none;
	position: absolute;
	background: #FFFFFF;
	border: 0.5px solid #B7B7B7;
	z-index: 5;
	width: 100%;
	top: 155px;
	padding: 31px 25px 56px;
	a{
		color: $primery-text-color;
		cursor: pointer;
		font-family: $secondary-font;
		font-size: 17px;
		line-height: 204%;
	}
}
.burger-block{
	display: none;
	position: absolute;
	background: #FFF;
	z-index: 5;
	width: 100%;
	text-align: center;

	.list-books{
		margin-top: 5px;
		padding-bottom: 38px;
		li{
			margin-top: 28px;
			a{
				color: $primery-text-color;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 14px;
			}
			img{
				margin-left: 10px;
			}
		}
	}
	.dark-bg{
		padding-bottom: 50px;
	}
	.list-menu{
		li{
			padding: 14px 0;
			a{
				color: $primery-text-color;
				font-family: $secondary-font;
				font-size: 17px;
			}
			&:hover,
			&:active{
				background: #88AD52;
				a{
					color: #F2F2F2;
				}
			}
		}
	}

	.phone{
		margin-top: 19px;
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 18px;
		color: #040D21;
		.social-list{
			margin-top: 13px;
			a{
				margin-right: 20px;
			}
			a:last-child{
				margin-right: 0;
			}
		}
	}
	.call-back{
		margin-top: 41px;
		a{
			color: $primery-text-color;
		}
	}
	.social-block{
		margin-top: 41px;
		li{
			display: inline-block;
		}
		li:first-child{
			margin-right: 15px;
		}
	}
	.language{
		display: none;
		margin-top: 19px;
		border: none;
		outline: none;
		appearance: none;
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #242935;
		background: no-repeat right url(../img/arrow.svg);
		padding-right: 15px;
	}
	.user-bg{
		background: #636D85;
		position: relative;
		padding: 21px 0 44px;
		display: none;
		justify-content: center;
		.user-item{
			.circle{
				margin-right: 0;
				margin-bottom: 7px;
			}
			a{
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 17px;
				line-height: 20px;
				color: #F2F2F2;

			}
		}
	}
}