.slide-block{
	margin-top: 25px;
	width: 100%;
	height: 100%;

	.slider-block__item{
		max-height: 300px;
		margin-right: 10px;
		margin-left: 10px;
		a{
			display: block;
			color: $primery-text-color;
			text-decoration: none;

			.slide-block__img{
				background: url(../img/books.jpg) no-repeat center center;
				background-size: cover;

				.grup-text{
					padding-top: 22px;
					margin-left: 35px;
					font-family: $secondary-font;
					font-size: 12px;
				}
				.cat-title{
					font-family: $primery-font;
					font-weight: bold;
					font-size: 33px;
					margin: 49px 0 0 36px;
					text-align: left;
					width: 60%;
					padding-bottom: 150px;
				}
			}
		}
	}
	.slick-arrow{
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		outline: none;
	    border: none;
	    z-index: 1;
	    width: 50px;
	    height: 50px;
	    font-size: 0;

	    &:focus,
	    &:active,
	    &:hover{
	    	outline: none;
	    	border: none;
	    }
	}
	.slick-prev{
		background: url(../img/prev.svg) no-repeat center center;
	    left: calc(33.3333% - 25px);
	    cursor: pointer;
	}
	.slick-next{
		background: url(../img/next.svg) no-repeat center center;
	    right: calc(33.3333% - 25px);
	    cursor: pointer;
	}
}
// 
.prod-arrows{
	display: flex;
    align-items: center;
    .prod-arrows__prev{
    	margin-right: 40px;
		cursor: pointer;
    }
    .prod-arrows__next{
    	cursor: pointer;	
    }
}
// 
.slick-dots{
	position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 32px;
	.slick-active{
		button{
			background: #E5614F;
		}
	}
    li{
    	margin-right: 10px;
    	&:last-child{
    		margin-right: 0;
    	}
    	button{
    		border: none;
		    outline: none;
		    background: #fff;
		    font-size: 0;
		    border-radius: 50%;
		    padding: 3px;
		    cursor: pointer;
    	}
    }
}