/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
	.header-block .user-item a, 
	.header-block .buy-item a{
		display: none;
	}
	.header-block .header-block__first .menu,
	.header-block .header-block__first{
		font-size: 16px;
	}
	.header-block .header-block__first .menu li,
	.header-block .navigation-fixed .header-block__fixed .logo{
		padding-right: 10px;
	}
	.services-block .services-block__item .services-block__text,
	.header-block .navigation .header-block__second,
	.header-block .advenced-block-bg .advanced-search .category-selection .selection-title,
	.header-block .advenced-block-bg .advanced-search .category-selection .selection-box,
	.header-block .advenced-block-bg .advanced-search .search-popularity .check-block label,
	.all-books a{
		font-size: 14px;
	}
	.header-block .navigation .header-block__second ul li,
	.header-block .navigation .header-block__second .search,
	.header-block .navigation-fixed .header-block__fixed .header-block__second ul li,
	.header-block .navigation-fixed .header-block__fixed .header-block__second .search{
		padding: 20px 10px;
	}
	.header-block .navigation .header-block__second .search .search__btn,
	.header-block .navigation-fixed .header-block__fixed .header-block__second .search .search__btn{
		margin-right: 10px;
	}
	.header-block .navigation .header-block__second .search .search__text,
	.header-block .navigation-fixed .header-block__fixed .header-block__second .search .search__text{
		width: 70%;
	}
	.slide-block .slider-block__item a .slide-block__img .cat-title{
		font-size: 23px;
	}
	.header-block .circle{
		margin-right: 0;
	}
	.header-block .advenced-block-bg .advanced-search{
		justify-content: center;
	}
	.header-block .advenced-block-bg .advanced-search .search-title{
		font-size: 18px;
	}
	.header-block .advenced-block-bg .advanced-search .search-genre,
	.header-block .advenced-block-bg .advanced-search .search-popularity{
		margin-left: 30px;
	}
	.header-block .advenced-block-bg .advanced-search .search-popularity{
		width: 240px;
	}
	.header-block .advenced-block-bg .advanced-search .search-author,
	.header-block .advenced-block-bg .advanced-search .search-popularity .check-block .margin-label{
		margin-left: 0;
	}
	.header-block .advenced-block-bg .advanced-search .category-selection .selection-box{
		width: 200px;
		height: 40px;
	}
	.header-block .advenced-block-bg .advanced-search .search-popularity .check-block .margin-label{
		margin-top: 20px;
	}
	.header-block .advenced-block-bg .advanced-search .search-popularity .slide-price{
		width: 83%;
	}
	.header-block .advenced-block-bg .advanced-search .search-author .search-entry .search{
		width: 220px;
		height: 40px;
		padding-left: 13px;
	}
	.header-block .advenced-block-bg .advanced-search .search-author .search-entry .serch-img-av{
		top: 14px;
		right: 10px;
	}
	.header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .green-bg-btn{
		padding: 12px 25px;
	}
	.header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .reset-btn{
		margin-left: 13px;
	}
	.header-block .advenced-block-bg{
		padding-top: 50px;
	}
	.header-block .advenced-block-fixed{
		top: 86px;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
	.header-block .header-block__first .menu,
	.header-block .header-block__first .call-back,
	.header-block .header-block__first .phone,
	.header-block .navigation-fixed .header-block__fixed .header-block__second ul{
		display: none;
	}
	.header-block .navigation-mobile,
	.header-block__first .burger-menu,
	.header-block__fixed .burger-menu{
		display: block;
	}
	.header-block .navigation .header-block__second{
		justify-content: center;
	}
	.header-block .navigation .header-block__second ul li, 
	.header-block .navigation .header-block__second .search{
		padding: 15px 5px;
	}
	.slide-block .slider-block__item a .slide-block__img .cat-title{
		font-size: 18px;
		padding-bottom: 130px;
	}
	.slide-block .slick-prev{
		left: calc(0% - 15px);
	}
	.slide-block .slick-next{
		right: calc(0% - 17px);
	}
	.slide-block .slider-block__item{
		max-height: 265px;
	}
	.footer-bg .none{
		text-align: center;
	}
	.footer-bg .order-three{
		text-align: right;
	}
	.header-block .navigation-fixed .header-block__fixed{
		justify-content: space-between;
	}
	.header-block .navigation-fixed .header-block__fixed .buy-item{
		margin-left: 0;
	}
	.header-block .advenced-block-bg .advanced-search{
		flex-flow: wrap;
	}
	.header-block .advenced-block-bg .advanced-search .search-author{
		margin-left: -30px;
		margin-top: -60px;
	}
	.all-books{
		top: 143px;
	}
	.burger-block{
		top: 86px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.header-block .navigation,
	.prod-list .order-btn__medium,
	.header-block .user-item,
	.header-block .header-block__first .language,
	.header-block .navigation-fixed .header-block__fixed,
	.How-working .How-working__img-riht,
	.How-working .How-working__img-left,
	.How-working .steps-block hr,
	.buy-block .close-btn,
	.header-block .advenced-block-bg .advanced-search .search-genre,
	.header-block .advenced-block-bg .advanced-search .search-popularity,
	.header-block .advenced-block-bg .advanced-search .search-author,
	.none{
		display: none;
	}
	.header-block .header-block__first .search-mobile,
	.header-block .advenced-block-bg .search-row-mobile,
	.buy-block .popup-wind__close,
	.elite-book .popup-df,
	.login .popup-df,
	.registration .popup-df,
	.agreement-block .popup-df,
	.pre-order .popup-df{
		display: block;
	}
	.header-block .advenced-block-bg .advanced-search .search-title .search-arrow-mobile{
		display: inline;
		float: right;
		margin-top: 10px;
	}
	.burger-block{
		position: fixed;
		overflow: scroll;
		height: 90%;
	}
	.header-block .header-block__first{
		position: fixed;
		background: #fff;
		width: 100%;
		top: 0;
		border-bottom: 1px solid #B7B7B7;
		z-index: 5;
		padding-top: 11px;
	}
	.burger-block .language{
		display: inline-block;
	}
	.burger-block .user-bg{
		display: flex;
	}
	.prod-list .order-btn__mobile{
		display: block;
		margin-top: 43px;
	}
	.header-block{
		border-bottom: 1px solid #B7B7B7;
	}
	.prod-list .prod-title,
	.news-title,
	.How-working .title{
		font-size: 23px;
	}
	.news-row .news-block{
		margin-bottom: 25px;
	}
	.news-row .news-block .news-item .news-title .title-text,
	.about-us .title{
		font-size: 22px;
	}
	.news-title{
		margin-top: 34px;
	}
	.news-bg{
		padding-bottom: 63px;
	}
	.How-working .steps-block .step{
		margin-bottom: 34px;
	}
	.How-working .subtitle,
	.about-us .subtitle{
		font-size: 20px;
	}
	.How-working .title{
		margin-top: 47px;
	}
	.How-working .steps-block,
	.catalog{
		padding-bottom: 50px;
	}
	.about-us .paragraph{
		font-size: 16px;
	}
	.catalog .catalog-item .catalog-item__title-block .catalog-item__title{
		font-size: 18px;
	}
	.catalog .catalog-item .catalog-item__title-block .catalog-item__img{
		margin-right: 16px;
	}
	.about-us{
		padding-top: 41px;
	}
	.catalog .catalog-item .catalog-item__text{
		margin-bottom: 30px;
	}
	.order-one{
		order: 1;
	}
	.order-two{
		order: 2;
	}
	.order-three{
		order: 3;
	}
	.order-four{
		order: 4;
	}
	.footer-bg{
		padding-top: 59px;
		padding-bottom: 38px;
	}
	.footer-bg,
	.footer-bg .text-right,
	.footer-bg .order-three{
		text-align: center!important;
	}
	.footer-bg .order-three .footer-title{
		margin-top: 41px;
	}
	.footer-bg .logo{
		margin-top: 18px;
	}
	.header-block .advenced-block-bg{
		padding-top: 0;
		top: 85px;
		z-index: 5;
		position: fixed;
		width: 100%;
		max-height: 90%;
		overflow: scroll;
		background: #FFFFFF;
	}
	.header-block .advenced-block-bg .advanced-search{
		flex-flow: column;
		margin-left: 28px;
		width: 200px;
	}
	.header-block .advenced-block-bg .advanced-search .search-genre{
		margin-left: 0;
		margin-top: 3px;
		padding-bottom: 28px;
		border-bottom: 1px solid #DBDEE8;
	}
	.header-block .advenced-block-bg .advanced-search .search-popularity{
		margin-left: 0;
		margin-top: 26px;
		width: 200px;
		padding-bottom: 29px;
		border-bottom: 1px solid #DBDEE8;
	}
	.check-block,
	.header-block .advenced-block-bg .advanced-search .category-selection .example-input{
		padding-bottom: 33px;
		border-bottom: 1px solid #DBDEE8;
	}
	.header-block .advenced-block-bg .advanced-search .search-popularity .slide-price{
		width: 100%;
	}
	.header-block .advenced-block-bg .advanced-search .search-author{
		margin-top: 3px;
		margin-left: 0;
	}
	.header-block .advenced-block-bg .advanced-search .search-author .search-entry .search{
		width: 200px;
	}
	.header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block{
		margin-top: 27px;
	}
	.header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .green-bg-btn{
		padding: 12px 32px;
		display: block;
		margin-right: 30px;
		margin-bottom: 25px;
	}
	.header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .reset-btn,
	.elite-book .popup-df .comment-block,
	.login .social-form,
	.registration .social-form,
	.registration .login-enter span{
		margin-left: 0;
	}
	.header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .reset-btn-img{
		margin-left: 70px;
	}
	.all-books{
		top: 85px;
	}
	.slide-block{
		margin-top: 95px;
	}
	.buy-block,
	.pre-order,
	.elite-book,
	.call-back-popup,
	.login,
	.registration,
	.successfully-accepted{
		top: 90px;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		max-width: 90%;
		max-height: 85%;
		overflow: scroll;
	}
	.login{
		min-width: 1px;
	}
	.popup-wind{
		padding: 25px 14px 50px;
	}
	.pre-order .pre-order__item-block,
	.pre-order .pre-order__data-block,
	.elite-book .popup-df .data-block,
	.elite-book .popup-df .comment-block,
	.call-back-popup .popup-df .popup-form{
		width: 100%;
	}
	.pre-order .pre-order__data-block,
	.login .popup-form,
	.registration .popup-form{
		border: none;
		padding: 0;
	}
	.buy-block .book-info .info-img,
	.pre-order .book-info .info-img{
		margin-right: 18px;
	}
	.pre-order .book-info .price-row .book-price,
	.buy-block .book-info .price-row .book-price{
		font-size: 23px;
	}
	.elite-book .elite-book__btn .green-bg-btn,
	.call-back-popup .call-back-popup__btn .green-bg-btn,
	.registration .login-enter .green-bg-btn,
	.pre-order .pre-order__data-block .pre-order-popup__btn .green-bg-btn{
		padding: 12px 20px;
	}
	.login .social-form,
	.login .registration-row,
	.registration .social-form,
	.registration .login-enter span,
	.buy-block .book-info,
	.buy-block .buy-btn-block .green-border-btn{
		margin-top: 25px;
	}
	.registration .login-enter,
	.buy-block .buy-btn-block{
		flex-flow: column;
	}
	.book-info .price-row .price-calc input{
		width: 20px;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) { 
	.prod-title__medium,
	.advertising .border-bg .stock-block .stock-block__title,
	.header-block .navigation-fixed .header-block__fixed{
		display: none;
	}

	.prod-list .prod-title__mobile{
		display: block;
	}

	.header-block .header-block__first .logo{
		max-width: 120px;
	}
	.header-block .circle{
		width: 44px;
		height: 44px;
	}
	.services-block .services-block__item{
		padding: 14px 5px;
	}
	.prod-arrows{
		justify-content: flex-end;
	}
	.prod-arrows .prod-arrows__prev{
		margin-right: 25px;
	}
	.prot-item{
		margin-right: 7px;
		margin-left: 7px;
		padding: 15px 12px;
		min-height: 321px;
	}
	.prot-item .prot-item__text{
		font-size: 14px;
	}
	.prot-item .prot-item__author{
		font-size: 12px;
	}
	.prot-item .prot-item__price{
		font-size: 20px;
	}
	.prod-list{
		padding: 32px 0 62px 0;
		margin-top: 14px;
	}
	.prot-item:active,
	.prot-item:hover{
		min-height: 386px;
	}
	.advertising{
		padding: 0;
	}
	.advertising .border-bg{
		border: none;
	}
	.advertising .border-bg .stock-block{
		order: 2;
		padding: 37px 10px 50px 10px;
	    text-align: center;
	}
	.advertising .border-bg .best-offer{
		text-align: center;
		order: 1;
		padding: 0;
	}
	.advertising .border-bg .best-offer .best-offer__title{
		margin-top: 170px;
	}
	.advertising .border-bg .best-offer .best-offer__buy{
		display: flex;
	    flex-flow: column;
	    align-items: center;
	    padding-bottom: 46px;
	}
	.advertising .border-bg .best-offer .best-offer__buy .best-offer__btn{
		order: 2;
		margin-top: 22px;
	}
	.advertising .border-bg .best-offer .best-offer__buy .best-offer__price{
		order: 1;
	}
	.advertising .border-bg .best-offer .best-offer__img{
		top: -20px;
	}
	.advertising .border-bg .stock-block .stock-block__form{
		width: 100%;
	}
	.advertising .border-bg .stock-block .stock-block__form .stock-block__inp{
		padding-left: 17px;
	}
	.advertising .border-bg .stock-block .stock-block__form .stock-block__btn{
		width: 56px;
	}
	.advertising .border-bg .stock-block .stock-block__text{
		font-size: 17px;
	}
	.header-block .advenced-block-bg,
	.all-books,
	.burger-block{
		top: 65px;
	}
	.slide-block{
		margin-top: 76px;
	}
	.overlay{
		top: 65px;
	}
}