@import "variable";
@import "popup";
@import "header";
@import "sliders";
@import "footer";

//
body{
	overflow-x: hidden; 
	color: $primery-text-color;
	font-family: $primery-font;
}
// 
.custom-container{
    position: relative;
    max-width: 1350px;
}
//
.dark-bg{
	background: #F8F8FA;
	border-radius: 7px;
}
// 
.news-bg{
	background: #484F61;
	padding-bottom: 93px;
}
// 
.burger-active{
	span:nth-child(1){
		transform: rotate(45deg);
		top: 50%!important;
	}
	span:nth-child(2){
		opacity: 0;
	}
	span:nth-child(3){
		transform: rotate(-45deg);
		top: 50%!important;
	}
}
//
.burger-block__fixed{
	position: fixed;
	top: 86px;
}
//
.green-bg-btn {
    background: #88B447;
    border-radius: 92px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 60px;

    &:hover{
    	cursor: pointer;
    	background: $btn-hover;
    }
}
// 
.green-border-btn {
    border: 1.8px solid #2D9E1A;
    box-sizing: border-box;
    border-radius: 92px;
    padding: 12px 17px;
    cursor: pointer;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #242935;

}
//
.active-arrow{
	transform: rotate(180deg);
}
//
// 
.prot-item{
	margin-left: 15px;
	margin-right: 15px;
	padding: 23px 21px;
	max-width: 268px;
	min-height: 480px;
	position: relative;
	display: block; 
	text-align: center;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	border-radius: 3px;
	
	&:hover,
	&:active{
		min-height: 542px;
		border: 1px solid #C5D0B5;

		.prot-item__button{
			display: inline-block;
		}
	}
	.prod-item__label{
		position: absolute;
		width: 0;
		height: 0;
		transform: rotate(-90deg);
			
		.label-text{
			position: absolute;
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 12px;
			letter-spacing: 2.3px;
			color: #FFFFFF;
			right: 0;
			padding: 3px 12px;
			text-transform: uppercase;
		}
		.new{
			background: #3D649E;
		}
		.hit{
			background: #E6614F;
		}
		.elite{
			background: #897869;
		}
	}
	.prot-item__img{
		max-width: 150px;
		max-height: 227px;
		margin: auto;
		background: url(../img/book.png);
		img{
			width: 100%;
			height: auto;
		}
	}
	.stars{
		margin-top: 15px;
		color: #F9DAD5;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 20px;
		direction: rtl;

		i:hover:before, i:hover ~ :before{
			color: #F97A69;
		}
	}
	.prot-item__text{
		padding: 0 1px;
		margin-top: 9px;
		font-family: $secondary-font;
		font-size: 18px;
		line-height: 131.3%;
		font-weight: bold;
		text-align: center;

		a{
			color: $primery-text-color;
		}
	}
	.prot-item__author{
		padding: 0 3px ;
		margin-top: 11px;
		font-style: italic;
		font-weight: bold;
		font-size: 15px;
		line-height: 131.3%;
		text-align: center;
		color: #80899F;
	}
	.prot-item__price{
		padding:0 3px;
		margin-top: 4px;
		font-weight: 900;
		font-size: 25px;
		line-height: 131.3%;
		text-align: center;
	}
	.prot-item__button{
		width: 94%;
		padding: 11px ;
		margin-top: 22px;
		display: none;
		background: $btn-normal;
		border-radius: 92px;
		color: #fff;
		font-size: 16px;
		font-family: $secondary-font;
		
		&:hover{
			cursor: pointer;
			background: $btn-hover;
		}
	}
}
// 
.services-block{
	margin-top: 25px;

	.services-block__item{
		text-align: center;
	    background: #F8F8FA;
	    padding: 14px 9px;
	    min-height: 190px;
	    height: 100%;
		border-radius: 7px;

		.services-block__img{
			display: block;
		    margin: 21px auto 19px auto;
		}
		.services-block__text{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 131.3%;
			text-align: center;
			color: $primery-text-color;
		}
	}
}
// 
.prod-list{
	margin-top: 20px;
	padding: 55px 0 72px 0;

	.prod-title{
		font-weight: bold;
		font-size: 30px;
		line-height: 44px;
		letter-spacing: 3.3px;
	}
	.prod-title__mobile{
		display: none;
	}
	.order-btn{
		display: flex;
		align-items: center;
		a{
			border: 1.8px solid #2D9E1A;
		    padding: 13px 17px;
		    border-radius: 92px;
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: $primery-text-color;
		}
	}
	.order-btn__mobile{
		display: none;
	}
	.prod-slider{
		margin-top: 35px;
		padding: 0;
	}

}
// 
.advertising{
	padding: 30px 15px;
	.border-bg{
		border: 1px solid #E6E6E6;
		box-sizing: border-box;

		.stock-block{
			position: relative;
			padding: 35px 47px 23px 142px;
			.stock-block__title{
				position: absolute;
				top: 0;
				left: 0;
				width: 95px;
				height: 100%;
				background: #484F61;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: $primery-text;
				
				span{
					transform: rotate(-90deg);
				    color: #fff;
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    width: 95px;
				    height: 20px;
				    display: block;
				    margin: auto;
				    letter-spacing: 6.3px;
				}
			}
			.stock-block__text{
				font-family: $secondary-font;
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 131.3%;
			}
			.stock-block__form{
				width: 83%;
			    position: relative;
			    margin-top: 16px;
				.stock-block__inp{
					padding-left: 23px;
				    border: 1px solid #C2C2C2;
				    box-sizing: border-box;
				    border-radius: 3px;
				    outline: none;
				    height: 49px;
				    width: 100%;
				    padding-right: 110px;
				    font-family: $secondary-font;
			        font-size: 17px;
			        line-height: 131.3%;
				}
				.stock-block__btn{
					border-radius: 0 3px 3px 0;
					background: #88B447;
				    height: 49px;
				    width: 110px;
				    border: none;
				    position: absolute;
			    	top: 0;
			    	right: 0;
				    cursor: pointer;
				}
				.stock-block__check{
					margin-top: 16px;

					input{
						display: none;
						&:checked + label:before{
					    	background: url(../img/Check.svg) no-repeat center center;
						}
					}
					label{
						cursor: pointer;
						font-family: $secondary-font;
						font-size: 14px;
						line-height: 131.3%;

						&:before{
							border: 1px solid #D6D6D6;
							box-sizing: border-box;
							content: "";
						    color: transparent;
						    display: inline-block;
						    font-size: 20px;
						    line-height: 22px;
						    margin: -5px 10px 0 0;
						    height: 20px;
						    width: 20px;
						    text-align: center;
						    vertical-align: middle;
						    transition: color ease .3s;
						}
					}
				}
			}
		}
		.best-offer{
			padding: 28px 0 0 60px;
		    background: #F2F1F8;
		    position: relative;

		    .best-offer__title{
		    	font-weight: 900;
		    	font-size: 38px;
		    	line-height: 131.3%;
		    }
		    .best-offer__subtitle{
		    	font-family: $secondary-font;
		    	font-weight: 500;
		    	font-size: 23px;
		    	line-height: 131.3%;
		    }
		    .best-offer__buy{
		    	margin-top: 12px;

		    	.best-offer__btn{
		    		display: inline-block;
		    		min-width: 178px;
		    		border: 1.8px solid #2D9E1A;
		    		box-sizing: border-box;
		    		border-radius: 92px;
	    		    padding: 16px 40px;
	    		    margin-right: 12px;
	    			text-align: center;
		    		a{
		    			font-family: $secondary-font;
		    			font-weight: bold;
		    			font-size: 17px;
		    			line-height: 20px;
		    			color: $primery-text-color;
		    		}
		    	}
		    	.best-offer__price{
		    		display: inline-block;
		    		font-weight: 900;
		    		font-size: 26px;
		    		line-height: 131.3%;
		    		text-align: center;
		    	}
		    }
		    .best-offer__img{
	    		position: absolute;
    		    right: 0;
    		    top: -10px;
		    	img{
		    		width: 100%;
		    		height: auto;

		    	}
		    }
		}
	}
}
// 
.news-title{
	margin-top: 82px;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 3.3px;
	color: #FFFFFF;
}
// 
.news-row{
	margin-top: 40px;
	.news-block{
		background: url(../img/1968-932-hero.jpg) no-repeat center center;
		background-size: cover;
		color: #fff;
	    min-height: 380px;
	    position: relative;

		.news-item{
			width: 100%;
			height: 100%;
			position: absolute;
			
			.data-view{
				position: absolute;
			    top: 15px;
			    left: 25px;
			    width: calc(100% - 50px);
			    font-weight: 700;
			    font-size: 16px;
			    line-height: 19px;
			    font-family: $secondary-font;

			    span:last-child{
			    	float: right;
			    }
			}
			.news-title{
				position: absolute;
				padding: 0 25px;
			    bottom: 0;

			    .title-text{
					font-weight: bold;
					text-align: center;
					line-height: 126.1%;
					font-size: 24px;
			    	padding: 25px 0 130px 0;
		    	    a{
		    	    	color: #fff;
		    	    }
			    }
			}
			.hashtag-text{
				position: absolute;
				left: 25px;
				bottom: 24px;
				font-family: $secondary-font;
				font-style: italic;
				font-size: $primery-text;
				line-height: 22px;
			}
		}
		&:hover,
		&:active {
	    	.data-view{
	    		top: 180px;
	    		transition: all 0.6s;
	    	}
	    	.news-title{
	    		transition: all 0.6s;
	    		background: #fff;
	    		width: 100%;
	    		height: 156px;
	    
	    		.title-text{
	    			text-align: left;
	    			font-size: 23px;
	    			bottom: 75px;
	    
	    			a{
	    				transition: all 0.6s;
	    				color: $primery-text-color;
	    			}
	    		}
	    	}
	    	.hashtag-text{
	    		transition: all 0.6s;
	    		margin-top: 30px;
	    		color: $primery-text-color;
	    	}
	    }
	}	
}
// 
.How-working{
	.How-working__img-left{
		position: absolute;
		top: 0;
		left: -25%;
	}
	.How-working__img-riht{
		position: absolute;
		top: 0;
		right: -20%;
	}
	.title{
		margin-top: 70px;
		font-family: $primery-font;
		font-weight: bold;
		font-size: 30px;
		line-height: 44px;
		text-align: center;
		letter-spacing: 3.3px;
		color: $primery-text-color;
	}
	.subtitle{
		margin-top: 21px;
		font-family: $secondary-font;
		font-size: 23px;
		line-height: 131.3%;
		text-align: center;
		color: $primery-text-color;
	}
	.steps-block{
		position: relative;
		margin-top: 30px;
		padding-bottom: 107px;

		hr{
			position: absolute;
		    height: 3px;
		    background: #767E92;
		    top: 42px;
		    width: 70%;
		    left: 15%;
		}
		.step{
			text-align: center;

			.step__img{
				position: relative;
				background: #435275;
				border-radius: 50%;
				margin: 0 auto 12px;
			    height: 117px;
			    width: 117px;
				img{
					position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    margin: auto;
				}
			}
			.step__num{
				font-family: $primery-font;
				font-weight: bold;
				font-size: 22px;
				line-height: 131.3%;
				color: #2A610F;
			}
			.step__title{
				margin-top: 10px;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 18px;
				line-height: 131.3%;
				color: #242935;
			}
		}
	}
}
// 
.about-us{
	padding-top: 74px;
	.title{
		text-align: center;
		font-weight: bold;
		font-size: 31px;
		line-height: 44px;
	}
	.subtitle{
		margin-top: 16px;
		font-family: $secondary-font;
		font-size: 23px;
		line-height: 131.3%;
		text-align: center;
	}
	.paragraph{
		margin-top: 40px;
		font-family: $secondary-font;
		font-size: 18px;
		line-height: 35px;
		text-align: center;
	}
}
// 
.line{
	height: 1px;
    background: #80899F;
    margin: 65px 0;
}
// 
.catalog{
	margin-top: 50px;
	padding-bottom: 100px;
	.catalog-item{
		.catalog-item__title-block{
			.catalog-item__img{
				float: left;
				margin-right: 25px;
			}
			.catalog-item__title{
				font-family: $secondary-font;
				font-size: 20px;
				line-height: 44px;
				font-weight: bold;
			}
		}
		.catalog-item__text{
			text-align: left;
			margin-top: 13px;
		}
	}
}