@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.overlay {
  display: none;
  top: 86px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(14, 1, 1, 0.28); }

.overlay-second {
  display: none;
  top: 86px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(14, 1, 1, 0.28); }

.total-coust {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 22px 0;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 40px;
  margin-bottom: 30px; }
  .total-coust .total {
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #242935; }
  .total-coust .coust {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 19px; }

.book-info {
  margin-top: 41px; }
  .book-info .info-img {
    float: left;
    margin-right: 31px; }
  .book-info .title {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #242935; }
  .book-info .price-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .book-info .price-row input {
      border: none;
      outline: none; }
    .book-info .price-row .book-price {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 33px;
      color: #242935; }
    .book-info .price-row .price-calc {
      background: #F4F5FB;
      border: 0.5px solid #D4D4D4;
      border-radius: 24px;
      overflow: hidden; }
      .book-info .price-row .price-calc input {
        width: 30px;
        height: 26px;
        cursor: pointer;
        text-align: center;
        font-size: 21px;
        vertical-align: top;
        background: #F4F5FB;
        border-right: 0.5px solid #D4D4D4; }
    .book-info .price-row .delet-btn {
      cursor: pointer; }

.buy-block {
  display: none;
  position: fixed !important;
  right: 0;
  top: 86px;
  width: 550px;
  z-index: 5; }
  .buy-block .popup-wind__close {
    display: none; }
  .buy-block .close-btn a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #242935; }
  .buy-block .close-btn img {
    margin-left: 10px;
    cursor: pointer; }
  .buy-block .buy-btn-block {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .buy-block .buy-btn-block .green-bg-btn {
      padding: 14px 50px;
      text-decoration: none;
      color: #fff; }
    .buy-block .buy-btn-block .green-border-btn {
      color: #242935; }

.popup-wind {
  position: relative;
  border: 0.5px solid #B7B7B7;
  background: #fff;
  padding: 25px 60px 50px 60px; }
  .popup-wind .popup-wind__close {
    position: absolute;
    top: 19px;
    right: 21px;
    cursor: pointer; }

.popup-df {
  display: flex;
  justify-content: space-between; }

.popup-title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 44px;
  font-weight: bold;
  color: #242935; }

.popup-form .personal-data {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 20px; }
  .popup-form .personal-data label {
    font-weight: bold;
    display: block;
    color: #000000;
    margin-top: 16px; }
  .popup-form .personal-data input {
    display: block;
    width: 100%;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    padding: 11px 20px;
    color: #252A2F;
    margin-bottom: 11px; }
  .popup-form .personal-data textarea {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    width: 100%;
    height: 133px;
    resize: none;
    outline: none;
    padding: 5px; }

.social-form .social-form__title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #242935;
  margin-bottom: 12px; }
.social-form .social-form__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 131.3%;
  color: #FAFAFA;
  padding: 11px 30px 11px 15px;
  margin-bottom: 10px;
  cursor: pointer; }
  .social-form .social-form__text img {
    margin-right: 15px; }
.social-form .facebook-bg {
  background: #45629B;
  border-radius: 4px; }
.social-form .google-bg {
  background: #4688F1;
  border-radius: 4px; }

.login {
  display: none;
  z-index: 5;
  position: absolute;
  top: 86px;
  right: 0;
  min-width: 580px; }
  .login .popup-form {
    border-right: 1px solid #EAE9E9;
    padding-right: 50px; }
  .login .forget-pass {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #858A95; }
  .login .remember-user {
    margin-top: 20px; }
    .login .remember-user input {
      display: none; }
      .login .remember-user input:checked + label:before {
        background-color: #7D9756;
        background-image: url(../img/check-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-top: none; }
    .login .remember-user label {
      font-family: "Lato", sans-serif;
      font-size: 15px;
      line-height: 18px;
      color: #242935;
      cursor: pointer; }
      .login .remember-user label:before {
        content: "";
        color: transparent;
        display: inline-block;
        border: 1px solid #CACACA;
        font-size: 20px;
        line-height: 22px;
        margin: -5px 10px 0 0;
        height: 20px;
        width: 20px;
        text-align: center;
        vertical-align: middle;
        transition: color ease .3s; }
  .login .login-enter {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .login .login-enter .green-bg-btn {
      padding: 12px 50px;
      color: #fff;
      text-decoration: none; }
    .login .login-enter span {
      cursor: pointer; }
  .login .social-form {
    margin-left: 50px; }
  .login .registration-row {
    margin-top: 77px;
    font-family: "Lato", sans-serif; }
    .login .registration-row .reg-subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #858A95; }
    .login .registration-row .reg-btn {
      margin-top: 5px;
      cursor: pointer;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      text-decoration-line: underline;
      color: #242935; }

.registration {
  display: none;
  z-index: 5;
  position: absolute;
  top: 86px;
  right: 0;
  max-width: 800px; }
  .registration .popup-form {
    border-right: 1px solid #EAE9E9;
    padding-right: 50px; }
  .registration .agreement-block {
    margin-top: 24px;
    font-family: "Lato", sans-serif; }
    .registration .agreement-block input[type="text"] {
      outline: none;
      background: #FFFFFF;
      border: 1px solid #CACACA;
      padding: 11px 20px;
      color: #252A2F;
      font-size: 16px;
      line-height: 20px; }
    .registration .agreement-block input[type="checkbox"] {
      display: none; }
      .registration .agreement-block input[type="checkbox"]:checked + label:before {
        background-color: #7D9756;
        background-image: url(../img/check-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-top: none; }
    .registration .agreement-block label {
      margin-top: 21px;
      font-size: 14px;
      line-height: 131.3%;
      color: #242935;
      cursor: pointer; }
      .registration .agreement-block label:before {
        content: "";
        color: transparent;
        display: inline-block;
        border: 1px solid #CACACA;
        font-size: 20px;
        line-height: 22px;
        margin: -5px 10px 0 0;
        height: 20px;
        width: 20px;
        text-align: center;
        vertical-align: middle;
        transition: color ease .3s; }
      .registration .agreement-block label a {
        color: #242935;
        text-decoration-line: underline; }
  .registration .social-form {
    margin-left: 50px; }
  .registration .login-enter {
    margin-top: 30px;
    display: flex;
    align-items: center; }
    .registration .login-enter .green-bg-btn {
      padding: 12px 25px;
      color: #fff;
      text-decoration: none; }
    .registration .login-enter span {
      margin-left: 35px;
      cursor: pointer; }

.call-back-popup {
  z-index: 5;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 577px;
  max-height: 412px; }
  .call-back-popup .popup-title {
    text-align: center;
    margin-top: 25px; }
  .call-back-popup .popup-df {
    justify-content: space-around;
    margin-top: 4px; }
    .call-back-popup .popup-df .popup-form {
      width: 67%; }
  .call-back-popup .call-back-popup__btn {
    display: flex;
    justify-content: space-around;
    margin-top: 28px; }
    .call-back-popup .call-back-popup__btn .green-bg-btn {
      width: 67%;
      color: #fff;
      text-decoration: none; }

.elite-book {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 922px;
  max-height: 450px; }
  .elite-book .popup-title {
    margin-top: 18px; }
  .elite-book .popup-df .data-block {
    width: 40%; }
  .elite-book .popup-df .comment-block {
    width: 60%;
    margin-left: 25px; }
  .elite-book .elite-book__btn {
    margin-top: 28px; }
    .elite-book .elite-book__btn .green-bg-btn {
      padding: 12px 30px;
      color: #fff;
      text-decoration: none;
      cursor: pointer; }

.pre-order {
  display: none;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 966px;
  max-height: 412px; }
  .pre-order .pre-order__item-block {
    width: 50%; }
    .pre-order .pre-order__item-block .book-info {
      margin-top: 26px; }
  .pre-order .pre-order__data-block {
    width: 43%;
    border-left: 1px solid #EAE9E9;
    padding-left: 50px; }
    .pre-order .pre-order__data-block .pre-order-popup__btn {
      margin-top: 38px; }
      .pre-order .pre-order__data-block .pre-order-popup__btn .green-bg-btn {
        color: #fff;
        text-decoration: none;
        padding: 12px 35px; }

.successfully-accepted {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 524px;
  max-height: 239px;
  text-align: center; }
  .successfully-accepted .popup-title {
    margin-top: 25px; }
  .successfully-accepted .checked {
    margin-top: 28px; }

.all-books {
  display: none;
  position: absolute;
  background: #FFFFFF;
  border: 0.5px solid #B7B7B7;
  z-index: 5;
  width: 100%;
  top: 155px;
  padding: 31px 25px 56px; }
  .all-books a {
    color: #242935;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    line-height: 204%; }

.burger-block {
  display: none;
  position: absolute;
  background: #FFF;
  z-index: 5;
  width: 100%;
  text-align: center; }
  .burger-block .list-books {
    margin-top: 5px;
    padding-bottom: 38px; }
    .burger-block .list-books li {
      margin-top: 28px; }
      .burger-block .list-books li a {
        color: #242935;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 14px; }
      .burger-block .list-books li img {
        margin-left: 10px; }
  .burger-block .dark-bg {
    padding-bottom: 50px; }
  .burger-block .list-menu li {
    padding: 14px 0; }
    .burger-block .list-menu li a {
      color: #242935;
      font-family: "Lato", sans-serif;
      font-size: 17px; }
    .burger-block .list-menu li:hover, .burger-block .list-menu li:active {
      background: #88AD52; }
      .burger-block .list-menu li:hover a, .burger-block .list-menu li:active a {
        color: #F2F2F2; }
  .burger-block .phone {
    margin-top: 19px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #040D21; }
    .burger-block .phone .social-list {
      margin-top: 13px; }
      .burger-block .phone .social-list a {
        margin-right: 20px; }
      .burger-block .phone .social-list a:last-child {
        margin-right: 0; }
  .burger-block .call-back {
    margin-top: 41px; }
    .burger-block .call-back a {
      color: #242935; }
  .burger-block .social-block {
    margin-top: 41px; }
    .burger-block .social-block li {
      display: inline-block; }
    .burger-block .social-block li:first-child {
      margin-right: 15px; }
  .burger-block .language {
    display: none;
    margin-top: 19px;
    border: none;
    outline: none;
    appearance: none;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #242935;
    background: no-repeat right url(../img/arrow.svg);
    padding-right: 15px; }
  .burger-block .user-bg {
    background: #636D85;
    position: relative;
    padding: 21px 0 44px;
    display: none;
    justify-content: center; }
    .burger-block .user-bg .user-item .circle {
      margin-right: 0;
      margin-bottom: 7px; }
    .burger-block .user-bg .user-item a {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      color: #F2F2F2; }

.circle {
  cursor: pointer;
  position: relative;
  margin-right: 13px;
  border-radius: 50px;
  height: 52px;
  width: 52px;
  background: #F4F5FB; }
  .circle img {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0; }

.header-block {
  z-index: 5;
  padding-top: 11px; }
  .header-block .user-item,
  .header-block .buy-item {
    display: flex; }
    .header-block .user-item a,
    .header-block .buy-item a {
      margin: auto; }
  .header-block .burger-menu {
    display: none;
    height: 14px;
    width: 20px;
    position: relative;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
    left: 0; }
    .header-block .burger-menu span {
      transition: .5s ease-in-out;
      cursor: pointer;
      left: 0;
      height: 2px;
      width: 100%;
      background: #555;
      position: absolute; }
    .header-block .burger-menu span:nth-child(1) {
      top: 0; }
    .header-block .burger-menu span:nth-child(2) {
      top: 6px; }
    .header-block .burger-menu span:nth-child(3) {
      top: 12px; }
  .header-block .header-block__first {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #242935; }
    .header-block .header-block__first a {
      color: #242935; }
    .header-block .header-block__first .logo {
      max-width: 176px; }
      .header-block .header-block__first .logo img {
        width: 100%; }
    .header-block .header-block__first .search-mobile {
      display: none;
      font-size: 21px; }
    .header-block .header-block__first .phone {
      text-align: right; }
      .header-block .header-block__first .phone a {
        margin-right: 13px; }
        .header-block .header-block__first .phone a:last-child {
          margin-right: 0; }
    .header-block .header-block__first .call-back {
      border: 1.8px solid #2D9E1A;
      box-sizing: border-box;
      border-radius: 92px;
      padding: 12px 17px;
      cursor: pointer; }
    .header-block .header-block__first .language {
      border: none;
      outline: none;
      font-weight: bold;
      appearance: none;
      background: no-repeat right url(../img/arrow.svg);
      padding-right: 15px;
      cursor: pointer; }
    .header-block .header-block__first .menu {
      list-style: none;
      font-size: 17px;
      font-weight: normal;
      margin: 0;
      padding: 0; }
      .header-block .header-block__first .menu li {
        display: inline-block;
        padding-right: 25px; }
      .header-block .header-block__first .menu li:last-child {
        padding-right: 0; }
    .header-block .header-block__first .burger-menu {
      width: 28px; }
      .header-block .header-block__first .burger-menu span:nth-child(2) {
        top: 10px; }
      .header-block .header-block__first .burger-menu span:nth-child(3) {
        top: 20px; }
  .header-block .navigation {
    border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #B7B7B7;
    overflow: hidden; }
    .header-block .navigation .header-block__second {
      background: #FFFFFF;
      z-index: 3;
      display: flex;
      align-items: center;
      font-family: "Lato", sans-serif;
      font-size: 15px;
      font-weight: bold;
      color: #242935; }
      .header-block .navigation .header-block__second:before {
        background: #FFFFFF;
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 50vw;
        right: 100%;
        top: 0; }
      .header-block .navigation .header-block__second ul {
        list-style: none;
        text-align: center;
        margin-bottom: 0; }
        .header-block .navigation .header-block__second ul li {
          display: table-cell;
          border-right: 1px solid #B7B7B7;
          padding: 24px 25px; }
          .header-block .navigation .header-block__second ul li a {
            color: #242935; }
          .header-block .navigation .header-block__second ul li .burger-menu {
            display: inline-block; }
      .header-block .navigation .header-block__second .search {
        background: #F4F5FB;
        padding: 22px 32px;
        position: relative; }
        .header-block .navigation .header-block__second .search:before {
          background: #F4F5FB;
          content: "";
          display: block;
          position: absolute;
          height: 100%;
          width: 50vw;
          left: 100%;
          top: 0; }
        .header-block .navigation .header-block__second .search .search__btn {
          background: none;
          border: none;
          margin-right: 20px; }
          .header-block .navigation .header-block__second .search .search__btn .search__img {
            font-size: 18px;
            line-height: 22px;
            cursor: pointer; }
        .header-block .navigation .header-block__second .search .search__text {
          border: none;
          background: none;
          outline: none;
          font-style: italic;
          font-size: 18px; }
        .header-block .navigation .header-block__second .search .search__arrow {
          transform: rotate(180deg);
          cursor: pointer; }
        .header-block .navigation .header-block__second .search .active {
          transform: rotate(0deg); }
  .header-block .navigation-mobile {
    display: none;
    border-bottom: none; }
    .header-block .navigation-mobile .header-second-mobile {
      display: flex;
      justify-content: center; }
      .header-block .navigation-mobile .header-second-mobile .list-mobile li:last-child {
        border-right: none; }
  .header-block .navigation-fixed {
    display: none;
    border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #B7B7B7;
    overflow: hidden;
    position: fixed;
    z-index: 5;
    background: #fff;
    top: 0;
    left: 0;
    right: 0; }
    .header-block .navigation-fixed .header-block__fixed {
      display: flex;
      align-items: center;
      height: 86px; }
      .header-block .navigation-fixed .header-block__fixed .logo {
        border-right: 1px solid #B7B7B7;
        padding: 4px 50px 4px 0; }
      .header-block .navigation-fixed .header-block__fixed .search-mobile {
        display: none;
        font-size: 21px; }
      .header-block .navigation-fixed .header-block__fixed .buy-item {
        margin-left: 23px; }
      .header-block .navigation-fixed .header-block__fixed .header-block__second {
        display: flex;
        align-items: center;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #242935; }
        .header-block .navigation-fixed .header-block__fixed .header-block__second ul {
          list-style: none;
          text-align: center;
          margin-bottom: 0;
          padding: 0; }
          .header-block .navigation-fixed .header-block__fixed .header-block__second ul li {
            display: table-cell;
            border-right: 1px solid #B7B7B7;
            padding: 25px 25px; }
            .header-block .navigation-fixed .header-block__fixed .header-block__second ul li a {
              color: #242935; }
            .header-block .navigation-fixed .header-block__fixed .header-block__second ul li .burger-menu {
              height: 14px;
              width: 20px;
              position: relative;
              display: inline-block;
              vertical-align: middle;
              margin-left: 10px;
              cursor: pointer;
              left: 0; }
              .header-block .navigation-fixed .header-block__fixed .header-block__second ul li .burger-menu span {
                transition: .5s ease-in-out;
                cursor: pointer;
                left: 0;
                height: 2px;
                width: 100%;
                background: #555;
                position: absolute; }
              .header-block .navigation-fixed .header-block__fixed .header-block__second ul li .burger-menu span:nth-child(1) {
                top: 0; }
              .header-block .navigation-fixed .header-block__fixed .header-block__second ul li .burger-menu span:nth-child(2) {
                top: 6px; }
              .header-block .navigation-fixed .header-block__fixed .header-block__second ul li .burger-menu span:nth-child(3) {
                top: 12px; }
              .header-block .navigation-fixed .header-block__fixed .header-block__second ul li .burger-menu span:nth-child(1) {
                transform: translateY(280%); }
              .header-block .navigation-fixed .header-block__fixed .header-block__second ul li .burger-menu span:nth-child(3) {
                transform: translateY(-280%); }
        .header-block .navigation-fixed .header-block__fixed .header-block__second .search {
          padding: 30px 32px;
          background: #F4F5FB;
          max-width: 300px;
          border-right: 1px solid #B7B7B7; }
          .header-block .navigation-fixed .header-block__fixed .header-block__second .search:before {
            display: none; }
          .header-block .navigation-fixed .header-block__fixed .header-block__second .search .search__btn {
            background: none;
            border: none;
            margin-right: 20px; }
            .header-block .navigation-fixed .header-block__fixed .header-block__second .search .search__btn .search__img {
              font-size: 18px;
              line-height: 22px;
              cursor: pointer; }
          .header-block .navigation-fixed .header-block__fixed .header-block__second .search .search__text {
            width: 70%;
            border: none;
            background: none;
            outline: none;
            font-style: italic;
            font-size: 18px; }
          .header-block .navigation-fixed .header-block__fixed .header-block__second .search .search__arrow {
            transform: rotate(180deg);
            cursor: pointer; }
          .header-block .navigation-fixed .header-block__fixed .header-block__second .search .active {
            transform: rotate(0deg); }
      .header-block .navigation-fixed .header-block__fixed .burger-menu {
        width: 28px; }
        .header-block .navigation-fixed .header-block__fixed .burger-menu span:nth-child(2) {
          top: 10px; }
        .header-block .navigation-fixed .header-block__fixed .burger-menu span:nth-child(3) {
          top: 20px; }
  .header-block .advenced-block-bg {
    display: none;
    background: #F6F7FC;
    border: 0.5px solid #B7B7B7;
    padding-top: 73px;
    padding-bottom: 43px; }
    .header-block .advenced-block-bg .search-row-mobile {
      display: none;
      background: #F4F5FB;
      border: 0.5px solid #B7B7B7;
      padding: 15px 43px;
      margin-bottom: 20px; }
      .header-block .advenced-block-bg .search-row-mobile form {
        display: flex;
        justify-content: space-between; }
        .header-block .advenced-block-bg .search-row-mobile form .search-row-mobile__text {
          border: none;
          background: none;
          outline: none;
          font-family: "Lato", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 17px;
          line-height: 20px;
          color: #90939A; }
        .header-block .advenced-block-bg .search-row-mobile form .search-row-mobile__btn {
          border: none;
          background: none;
          outline: none;
          color: #878080; }
    .header-block .advenced-block-bg .advanced-search {
      display: flex;
      justify-content: flex-end; }
      .header-block .advenced-block-bg .advanced-search .search-title {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 21px;
        line-height: 25px; }
        .header-block .advenced-block-bg .advanced-search .search-title .search-arrow-mobile {
          display: none;
          margin-left: 5px; }
      .header-block .advenced-block-bg .advanced-search .category-selection {
        margin-top: 25px; }
        .header-block .advenced-block-bg .advanced-search .category-selection .selection-title {
          margin-bottom: 7px;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          line-height: 19px;
          color: #000000; }
        .header-block .advenced-block-bg .advanced-search .category-selection .selection-box {
          width: 240px;
          height: 52px;
          padding-left: 22px;
          padding-right: 20px;
          background: #FFFFFF;
          border: 1px solid #E2E6EA;
          border-radius: 5px;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          outline: none; }
        .header-block .advenced-block-bg .advanced-search .category-selection .example-input {
          font-family: "Lato", sans-serif;
          font-style: italic;
          font-size: 14px;
          line-height: 17px;
          color: #9B9B9B; }
        .header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block {
          margin-top: 33px; }
          .header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .green-bg-btn {
            text-decoration: none;
            color: #fff; }
          .header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .reset-btn {
            margin-left: 33px;
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #000000; }
          .header-block .advenced-block-bg .advanced-search .category-selection .search-btn-block .reset-btn-img {
            margin-left: 12px;
            cursor: pointer; }
      .header-block .advenced-block-bg .advanced-search .search-genre {
        margin-top: -25px;
        margin-left: 72px; }
      .header-block .advenced-block-bg .advanced-search .search-popularity {
        margin-left: 62px; }
        .header-block .advenced-block-bg .advanced-search .search-popularity .check-block .margin-label {
          margin-left: 31px; }
        .header-block .advenced-block-bg .advanced-search .search-popularity .check-block label {
          font-family: "Lato", sans-serif;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          cursor: pointer; }
          .header-block .advenced-block-bg .advanced-search .search-popularity .check-block label:after {
            width: 31px;
            height: 23px;
            background: #FFFFFF;
            border: 1px solid #D6D6D6;
            box-sizing: border-box;
            content: "";
            color: transparent;
            display: inline-block;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            vertical-align: middle;
            transition: color ease .3s;
            margin-left: 7px; }
        .header-block .advenced-block-bg .advanced-search .search-popularity .check-block input {
          display: none; }
          .header-block .advenced-block-bg .advanced-search .search-popularity .check-block input:checked + label:after {
            background: url(../img/Check.svg) no-repeat center center;
            background-color: #ffffff; }
        .header-block .advenced-block-bg .advanced-search .search-popularity .slide-price {
          margin-top: 24px;
          max-width: 240px; }
          .header-block .advenced-block-bg .advanced-search .search-popularity .slide-price .price {
            text-align: center;
            margin-top: 12px;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            line-height: 18px;
            color: #000000; }
          .header-block .advenced-block-bg .advanced-search .search-popularity .slide-price .ui-widget-header {
            background: #80899F; }
          .header-block .advenced-block-bg .advanced-search .search-popularity .slide-price .ui-slider-handle {
            background: #69b35d;
            border-radius: 50%;
            outline: none;
            top: -.5em;
            margin-left: -.6em; }
        .header-block .advenced-block-bg .advanced-search .search-popularity .ui-slider-horizontal {
          height: 5px; }
        .header-block .advenced-block-bg .advanced-search .search-popularity .ui-widget-content {
          border: none; }
      .header-block .advenced-block-bg .advanced-search .search-author {
        margin-top: -25px;
        margin-left: 50px; }
        .header-block .advenced-block-bg .advanced-search .search-author .search-entry {
          position: relative; }
          .header-block .advenced-block-bg .advanced-search .search-author .search-entry .serch-img-av {
            position: absolute;
            right: 22px;
            top: 18px;
            color: #ABA3A3;
            cursor: pointer; }
          .header-block .advenced-block-bg .advanced-search .search-author .search-entry .search {
            padding-left: 23px;
            width: 315px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid #E2E6EA;
            border-radius: 5px;
            outline: none;
            font-family: "Lato", sans-serif;
            font-style: italic;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #000000; }
  .header-block .advenced-block-fixed {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 99px; }

.slide-block {
  margin-top: 25px;
  width: 100%;
  height: 100%; }
  .slide-block .slider-block__item {
    max-height: 300px;
    margin-right: 10px;
    margin-left: 10px; }
    .slide-block .slider-block__item a {
      display: block;
      color: #242935;
      text-decoration: none; }
      .slide-block .slider-block__item a .slide-block__img {
        background: url(../img/books.jpg) no-repeat center center;
        background-size: cover; }
        .slide-block .slider-block__item a .slide-block__img .grup-text {
          padding-top: 22px;
          margin-left: 35px;
          font-family: "Lato", sans-serif;
          font-size: 12px; }
        .slide-block .slider-block__item a .slide-block__img .cat-title {
          font-family: "Playfair Display", serif;
          font-weight: bold;
          font-size: 33px;
          margin: 49px 0 0 36px;
          text-align: left;
          width: 60%;
          padding-bottom: 150px; }
  .slide-block .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    outline: none;
    border: none;
    z-index: 1;
    width: 50px;
    height: 50px;
    font-size: 0; }
    .slide-block .slick-arrow:focus, .slide-block .slick-arrow:active, .slide-block .slick-arrow:hover {
      outline: none;
      border: none; }
  .slide-block .slick-prev {
    background: url(../img/prev.svg) no-repeat center center;
    left: calc(33.3333% - 25px);
    cursor: pointer; }
  .slide-block .slick-next {
    background: url(../img/next.svg) no-repeat center center;
    right: calc(33.3333% - 25px);
    cursor: pointer; }

.prod-arrows {
  display: flex;
  align-items: center; }
  .prod-arrows .prod-arrows__prev {
    margin-right: 40px;
    cursor: pointer; }
  .prod-arrows .prod-arrows__next {
    cursor: pointer; }

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 32px; }
  .slick-dots .slick-active button {
    background: #E5614F; }
  .slick-dots li {
    margin-right: 10px; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li button {
      border: none;
      outline: none;
      background: #fff;
      font-size: 0;
      border-radius: 50%;
      padding: 3px;
      cursor: pointer; }

.footer-bg {
  background: #333947;
  padding-top: 43px;
  padding-bottom: 42px; }
  .footer-bg .copyright {
    margin-top: 11px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 37px;
    color: #9298A6; }
  .footer-bg .footer-title {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #F0F0F0;
    margin-bottom: 20px; }
  .footer-bg .footer-list {
    list-style: none;
    padding-left: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #9298A6; }
    .footer-bg .footer-list li {
      margin-bottom: 20px; }
      .footer-bg .footer-list li a {
        color: #9298A6;
        text-decoration: none; }
        .footer-bg .footer-list li a:hover {
          color: #F0F0F0; }
      .footer-bg .footer-list li .underline {
        text-decoration: underline; }
      .footer-bg .footer-list li .av-icon {
        color: #7D9756;
        margin-right: 10px; }
    .footer-bg .footer-list .phone-number {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 19px;
      line-height: 35px;
      color: #F0F0F0; }
      .footer-bg .footer-list .phone-number:first-child {
        margin-bottom: 0; }
    .footer-bg .footer-list .circle-link {
      padding: 8px;
      border-radius: 50%;
      border: 1px solid #D0D0D0;
      margin-right: 10px; }
      .footer-bg .footer-list .circle-link:last-child {
        margin-right: 0; }
      .footer-bg .footer-list .circle-link img {
        vertical-align: sub; }
  .footer-bg .text-right {
    text-align: right; }

body {
  overflow-x: hidden;
  color: #242935;
  font-family: "Playfair Display", serif; }

.custom-container {
  position: relative;
  max-width: 1350px; }

.dark-bg {
  background: #F8F8FA;
  border-radius: 7px; }

.news-bg {
  background: #484F61;
  padding-bottom: 93px; }

.burger-active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50% !important; }
.burger-active span:nth-child(2) {
  opacity: 0; }
.burger-active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50% !important; }

.burger-block__fixed {
  position: fixed;
  top: 86px; }

.green-bg-btn {
  background: #88B447;
  border-radius: 92px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 60px; }
  .green-bg-btn:hover {
    cursor: pointer;
    background: #7BA044; }

.green-border-btn {
  border: 1.8px solid #2D9E1A;
  box-sizing: border-box;
  border-radius: 92px;
  padding: 12px 17px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #242935; }

.active-arrow {
  transform: rotate(180deg); }

.prot-item {
  margin-left: 15px;
  margin-right: 15px;
  padding: 23px 21px;
  max-width: 268px;
  min-height: 480px;
  position: relative;
  display: block;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 3px; }
  .prot-item:hover, .prot-item:active {
    min-height: 542px;
    border: 1px solid #C5D0B5; }
    .prot-item:hover .prot-item__button, .prot-item:active .prot-item__button {
      display: inline-block; }
  .prot-item .prod-item__label {
    position: absolute;
    width: 0;
    height: 0;
    transform: rotate(-90deg); }
    .prot-item .prod-item__label .label-text {
      position: absolute;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 2.3px;
      color: #FFFFFF;
      right: 0;
      padding: 3px 12px;
      text-transform: uppercase; }
    .prot-item .prod-item__label .new {
      background: #3D649E; }
    .prot-item .prod-item__label .hit {
      background: #E6614F; }
    .prot-item .prod-item__label .elite {
      background: #897869; }
  .prot-item .prot-item__img {
    max-width: 150px;
    max-height: 227px;
    margin: auto;
    background: url(../img/book.png); }
    .prot-item .prot-item__img img {
      width: 100%;
      height: auto; }
  .prot-item .stars {
    margin-top: 15px;
    color: #F9DAD5;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    direction: rtl; }
    .prot-item .stars i:hover:before, .prot-item .stars i:hover ~ :before {
      color: #F97A69; }
  .prot-item .prot-item__text {
    padding: 0 1px;
    margin-top: 9px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 131.3%;
    font-weight: bold;
    text-align: center; }
    .prot-item .prot-item__text a {
      color: #242935; }
  .prot-item .prot-item__author {
    padding: 0 3px;
    margin-top: 11px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 131.3%;
    text-align: center;
    color: #80899F; }
  .prot-item .prot-item__price {
    padding: 0 3px;
    margin-top: 4px;
    font-weight: 900;
    font-size: 25px;
    line-height: 131.3%;
    text-align: center; }
  .prot-item .prot-item__button {
    width: 94%;
    padding: 11px;
    margin-top: 22px;
    display: none;
    background: #88b447;
    border-radius: 92px;
    color: #fff;
    font-size: 16px;
    font-family: "Lato", sans-serif; }
    .prot-item .prot-item__button:hover {
      cursor: pointer;
      background: #7BA044; }

.services-block {
  margin-top: 25px; }
  .services-block .services-block__item {
    text-align: center;
    background: #F8F8FA;
    padding: 14px 9px;
    min-height: 190px;
    height: 100%;
    border-radius: 7px; }
    .services-block .services-block__item .services-block__img {
      display: block;
      margin: 21px auto 19px auto; }
    .services-block .services-block__item .services-block__text {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 131.3%;
      text-align: center;
      color: #242935; }

.prod-list {
  margin-top: 20px;
  padding: 55px 0 72px 0; }
  .prod-list .prod-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 3.3px; }
  .prod-list .prod-title__mobile {
    display: none; }
  .prod-list .order-btn {
    display: flex;
    align-items: center; }
    .prod-list .order-btn a {
      border: 1.8px solid #2D9E1A;
      padding: 13px 17px;
      border-radius: 92px;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #242935; }
  .prod-list .order-btn__mobile {
    display: none; }
  .prod-list .prod-slider {
    margin-top: 35px;
    padding: 0; }

.advertising {
  padding: 30px 15px; }
  .advertising .border-bg {
    border: 1px solid #E6E6E6;
    box-sizing: border-box; }
    .advertising .border-bg .stock-block {
      position: relative;
      padding: 35px 47px 23px 142px; }
      .advertising .border-bg .stock-block .stock-block__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 95px;
        height: 100%;
        background: #484F61;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 18px; }
        .advertising .border-bg .stock-block .stock-block__title span {
          transform: rotate(-90deg);
          color: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 95px;
          height: 20px;
          display: block;
          margin: auto;
          letter-spacing: 6.3px; }
      .advertising .border-bg .stock-block .stock-block__text {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 131.3%; }
      .advertising .border-bg .stock-block .stock-block__form {
        width: 83%;
        position: relative;
        margin-top: 16px; }
        .advertising .border-bg .stock-block .stock-block__form .stock-block__inp {
          padding-left: 23px;
          border: 1px solid #C2C2C2;
          box-sizing: border-box;
          border-radius: 3px;
          outline: none;
          height: 49px;
          width: 100%;
          padding-right: 110px;
          font-family: "Lato", sans-serif;
          font-size: 17px;
          line-height: 131.3%; }
        .advertising .border-bg .stock-block .stock-block__form .stock-block__btn {
          border-radius: 0 3px 3px 0;
          background: #88B447;
          height: 49px;
          width: 110px;
          border: none;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer; }
        .advertising .border-bg .stock-block .stock-block__form .stock-block__check {
          margin-top: 16px; }
          .advertising .border-bg .stock-block .stock-block__form .stock-block__check input {
            display: none; }
            .advertising .border-bg .stock-block .stock-block__form .stock-block__check input:checked + label:before {
              background: url(../img/Check.svg) no-repeat center center; }
          .advertising .border-bg .stock-block .stock-block__form .stock-block__check label {
            cursor: pointer;
            font-family: "Lato", sans-serif;
            font-size: 14px;
            line-height: 131.3%; }
            .advertising .border-bg .stock-block .stock-block__form .stock-block__check label:before {
              border: 1px solid #D6D6D6;
              box-sizing: border-box;
              content: "";
              color: transparent;
              display: inline-block;
              font-size: 20px;
              line-height: 22px;
              margin: -5px 10px 0 0;
              height: 20px;
              width: 20px;
              text-align: center;
              vertical-align: middle;
              transition: color ease .3s; }
    .advertising .border-bg .best-offer {
      padding: 28px 0 0 60px;
      background: #F2F1F8;
      position: relative; }
      .advertising .border-bg .best-offer .best-offer__title {
        font-weight: 900;
        font-size: 38px;
        line-height: 131.3%; }
      .advertising .border-bg .best-offer .best-offer__subtitle {
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 23px;
        line-height: 131.3%; }
      .advertising .border-bg .best-offer .best-offer__buy {
        margin-top: 12px; }
        .advertising .border-bg .best-offer .best-offer__buy .best-offer__btn {
          display: inline-block;
          min-width: 178px;
          border: 1.8px solid #2D9E1A;
          box-sizing: border-box;
          border-radius: 92px;
          padding: 16px 40px;
          margin-right: 12px;
          text-align: center; }
          .advertising .border-bg .best-offer .best-offer__buy .best-offer__btn a {
            font-family: "Lato", sans-serif;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
            color: #242935; }
        .advertising .border-bg .best-offer .best-offer__buy .best-offer__price {
          display: inline-block;
          font-weight: 900;
          font-size: 26px;
          line-height: 131.3%;
          text-align: center; }
      .advertising .border-bg .best-offer .best-offer__img {
        position: absolute;
        right: 0;
        top: -10px; }
        .advertising .border-bg .best-offer .best-offer__img img {
          width: 100%;
          height: auto; }

.news-title {
  margin-top: 82px;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 3.3px;
  color: #FFFFFF; }

.news-row {
  margin-top: 40px; }
  .news-row .news-block {
    background: url(../img/1968-932-hero.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    min-height: 380px;
    position: relative; }
    .news-row .news-block .news-item {
      width: 100%;
      height: 100%;
      position: absolute; }
      .news-row .news-block .news-item .data-view {
        position: absolute;
        top: 15px;
        left: 25px;
        width: calc(100% - 50px);
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        font-family: "Lato", sans-serif; }
        .news-row .news-block .news-item .data-view span:last-child {
          float: right; }
      .news-row .news-block .news-item .news-title {
        position: absolute;
        padding: 0 25px;
        bottom: 0; }
        .news-row .news-block .news-item .news-title .title-text {
          font-weight: bold;
          text-align: center;
          line-height: 126.1%;
          font-size: 24px;
          padding: 25px 0 130px 0; }
          .news-row .news-block .news-item .news-title .title-text a {
            color: #fff; }
      .news-row .news-block .news-item .hashtag-text {
        position: absolute;
        left: 25px;
        bottom: 24px;
        font-family: "Lato", sans-serif;
        font-style: italic;
        font-size: 18px;
        line-height: 22px; }
    .news-row .news-block:hover .data-view, .news-row .news-block:active .data-view {
      top: 180px;
      transition: all 0.6s; }
    .news-row .news-block:hover .news-title, .news-row .news-block:active .news-title {
      transition: all 0.6s;
      background: #fff;
      width: 100%;
      height: 156px; }
      .news-row .news-block:hover .news-title .title-text, .news-row .news-block:active .news-title .title-text {
        text-align: left;
        font-size: 23px;
        bottom: 75px; }
        .news-row .news-block:hover .news-title .title-text a, .news-row .news-block:active .news-title .title-text a {
          transition: all 0.6s;
          color: #242935; }
    .news-row .news-block:hover .hashtag-text, .news-row .news-block:active .hashtag-text {
      transition: all 0.6s;
      margin-top: 30px;
      color: #242935; }

.How-working .How-working__img-left {
  position: absolute;
  top: 0;
  left: -25%; }
.How-working .How-working__img-riht {
  position: absolute;
  top: 0;
  right: -20%; }
.How-working .title {
  margin-top: 70px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 3.3px;
  color: #242935; }
.How-working .subtitle {
  margin-top: 21px;
  font-family: "Lato", sans-serif;
  font-size: 23px;
  line-height: 131.3%;
  text-align: center;
  color: #242935; }
.How-working .steps-block {
  position: relative;
  margin-top: 30px;
  padding-bottom: 107px; }
  .How-working .steps-block hr {
    position: absolute;
    height: 3px;
    background: #767E92;
    top: 42px;
    width: 70%;
    left: 15%; }
  .How-working .steps-block .step {
    text-align: center; }
    .How-working .steps-block .step .step__img {
      position: relative;
      background: #435275;
      border-radius: 50%;
      margin: 0 auto 12px;
      height: 117px;
      width: 117px; }
      .How-working .steps-block .step .step__img img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .How-working .steps-block .step .step__num {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 22px;
      line-height: 131.3%;
      color: #2A610F; }
    .How-working .steps-block .step .step__title {
      margin-top: 10px;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 131.3%;
      color: #242935; }

.about-us {
  padding-top: 74px; }
  .about-us .title {
    text-align: center;
    font-weight: bold;
    font-size: 31px;
    line-height: 44px; }
  .about-us .subtitle {
    margin-top: 16px;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    line-height: 131.3%;
    text-align: center; }
  .about-us .paragraph {
    margin-top: 40px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 35px;
    text-align: center; }

.line {
  height: 1px;
  background: #80899F;
  margin: 65px 0; }

.catalog {
  margin-top: 50px;
  padding-bottom: 100px; }
  .catalog .catalog-item .catalog-item__title-block .catalog-item__img {
    float: left;
    margin-right: 25px; }
  .catalog .catalog-item .catalog-item__title-block .catalog-item__title {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 44px;
    font-weight: bold; }
  .catalog .catalog-item .catalog-item__text {
    text-align: left;
    margin-top: 13px; }

/*# sourceMappingURL=style.css.map */
