<footer class="footer-bg">
    <div class="container custom-container">
        <div class="row">
            <div class="order-four col-12 col-md-4 col-lg-3">
                <div class="logo"><img src="img/Logo-footer.png" alt=""></div>
                <div class="copyright">© 2020 Все права защищены</div>
            </div>
            <div class="none col-2 col-md-4 col-lg-2">
                <div class="footer-title">ГЛАВНАЯ</div>
                <ul class="footer-list">
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="order-three col-12 col-md-4 col-lg-3">
                <div class="footer-title">ГРАФИК РАБОТЫ</div>
                <ul class="footer-list">
                    <li>ПН-ВС с 9.00 до 18.00 без выходных</li>
                    <li><a class="underline" href="#">Политика конфиденциальности</a></li>
                    <li>Разработано в <a class="underline" href="#">Textum</a></li>
                </ul>
            </div>
            <div class="order-one col-12 col-md-6 col-lg-2">
                <div class="footer-title">НАШИ КОНТАКТЫ</div>
                <ul class="footer-list">
                    <li><i class="fa fa-envelope av-icon" aria-hidden="true"></i><a href="#">profibooks@ukr.ua</a></li>
                    <li>
                        <a href="#"><img src="img/faceboock-circle.svg" alt=""></a>&nbsp;&nbsp;
                        <a href="#"><img src="img/inst-circle.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="order-two col-12 col-md-6 col-lg-2">
                <ul class="footer-list text-right">
                    <li class="phone-number"><i class="fa fa-phone av-icon" aria-hidden="true"></i>(066) 738-0-738</li>
                    <li class="phone-number"><i class="fa fa-phone av-icon" aria-hidden="true"></i>(093) 738-0-738</li>
                    <li>
                        <a class="circle-link" href="#"><img src="img/teleg-footer.svg" alt=""></a>
                        <a class="circle-link" href="#"><img src="img/whatsapp-footer.svg" alt=""></a>
                        <a class="circle-link" href="#"><img src="img/viber-footer.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>