<header class="header-block">
    <div class="header-block__first container custom-container">
        <div class="logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="search-mobile">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="phone">(066) 738-0-738
            <div>
                <a href="#"><img src="img/teleg.svg" alt=""></a>
                <a href="#"><img src="img/viber.svg" alt=""></a>
                <a href="#"><img src="img/whatsapp.svg" alt=""></a>
            </div>
        </div>
        <div class="call-back"><a href="#">Заказать звонок</a></div>
        <select class="language">
            <option value="">Ua</option>
            <option value="">Ru</option>
        </select>
        <ul class="menu">
            <li><a href="#">Новости</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <div class="user-item">
            <div class="circle">
                <img src="img/user.png" alt="">
            </div>
            <a href="#">Войти</a>
        </div>
        <div class="buy-item">
            <div class="circle">
                <img src="img/basket.png" alt="">
            </div>
            <a href="#">Корзина</a>
        </div>
        <div class="burger-menu" id="header-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navigation">
        <div class="header-block__second container custom-container">
            <ul>
                <li><a href="#">БИЗНЕС - КНИГИ</a></li>
                <li><a href="#">КОЖАНЫЕ И ЭЛИТНЫЕ ИЗДАНИЯ</a></li>
                <li><a href="#">ЮРИДИЧЕСКАЯ ЛИТЕРАТУ</a></li>
                <li>
                    ВСЕ КНИГИ
                    <div class="burger-menu" id="all-books-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
            </ul>
            <div class="search">
                <form action="#">
                    <button class="search__btn"><i class="search__img fa fa-search" aria-hidden="true"></i></button>
                    <input class="search__text" type="text" placeholder="Поиск">
                    <img class="search__arrow header-block-arrow" src="img/search-arrow.svg" alt="">
                </form>
            </div>
        </div>
    </div>
    <div class="navigation-fixed">
        <div class="header-block__fixed container custom-container">
            <div class="logo">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="search-mobile">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="header-block__second">
                <ul>
                    <li><a href="#">БИЗНЕС - КНИГИ</a></li>
                    <li><a href="#">КОЖАНЫЕ И ЭЛИТНЫЕ ИЗДАНИЯ</a></li>
                    <li><a href="#">ЮРИДИЧЕСКАЯ ЛИТЕРАТУ</a></li>
                </ul>
                <div class="search">
                    <form action="#">
                        <button class="search__btn"><i class="search__img fa fa-search" aria-hidden="true"></i></button>
                        <input class="search__text" type="text" placeholder="Поиск">
                        <img class="search__arrow header-fixed-arrow" src="img/search-arrow.svg" alt="">
                    </form>
                </div>
            </div>
            <div class="header-block__first buy-item">
                <div class="circle">
                    <img src="img/basket.png" alt="">
                </div>
                <a href="#">Корзина</a>
            </div>
            <div class="burger-menu" id="header-burger__fixed">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="advenced-block-bg">
        <div class="search-row-mobile">
            <form action="#">
                <input class="search-row-mobile__text" type="text" placeholder="Поиск">
                <button class="search-row-mobile__btn"><i class="search-row-mobile__img fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="container custom-container">
            <div class="advanced-search">
                <div class="search-title">Расширенный поиск <img class="search-arrow-mobile" src="img/arrow_down_black.png" alt=""></div>
                <div class="search-genre">
                    <div class="category-selection">
                        <div class="selection-title">По жанрам</div>
                        <select class="selection-box">
                            <option value="">Выберите жанр</option>
                        </select>
                    </div>
                    <div class="category-selection">
                        <div class="selection-title">По подборкам</div>
                        <select class="selection-box">
                            <option value="">Выберите подборку</option>
                        </select>
                    </div>
                </div>
                <div class="search-popularity">
                    <div class="check-block">
                        <input type="checkbox" id="popular-check">
                        <label for="popular-check">По популярности</label>
                        <input type="checkbox" id="new-check">
                        <label class=" margin-label" for="new-check">По новинкам</label>
                    </div>
                    <div class="category-selection">
                        <div class="selection-title">По цене</div>
                        <select class="selection-box">
                            <option value="">Выберите тип книги</option>
                        </select>
                    </div>
                    <div class="slide-price">
                        <div id="slider"></div>
                        <div class="price">700 грн - 2500 грн</div>
                    </div>
                </div>
                <div class="search-author">
                    <div class="category-selection">
                        <div class="selection-title">Поиск по автору</div>
                        <div class="search-entry">
                            <input class="search" placeholder="Введите имя автора" type="search">
                            <i class="serch-img-av fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="example-input">Напр. Виктор Гюго</div>
                        <div class="search-btn-block">
                            <a class="green-bg-btn" href="#">Найти</a>
                            <a class="reset-btn" href="#">Сбросить</a>
                            <img class="reset-btn-img" src="img/Union.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>